.users {
	background: linear-gradient(to top left, #2F368E, #0355cf);
	min-height: 100%;
}
.body {
    padding: 20px 50px;
    /* padding-right: 20px; */
}
.userList {
	margin: 0px 0px 30px 0px;
}
.button{
	min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 24px;
    color: black;
    background-color: rgb(136, 241, 255);
    border: none;
    border-radius: 5px;
    text-align: right;
    margin-left: auto;
    cursor: pointer;
	margin: 0 auto;
}