.users {
	background: linear-gradient(to top left, #2F368E, #0355cf);
	min-height: 100%;
}
.body {
    padding: 20px 50px;
    /* padding-right: 20px; */
}
.userList {
	margin: 0px 0px 30px 0px;
}
.button{
	min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 24px;
    color: black;
    background-color: rgb(136, 241, 255);
    border: none;
    border-radius: 5px;
    text-align: right;
    margin-left: auto;
    cursor: pointer;
	margin: 0 auto;
}
/* Search form*/
.UsersSearchForm{
	margin: 0px 0px 20px 0px;
}
.searchLine{
	display: flex;
	align-items: center;
}
.paramInput{
	line-height: 1.2;
    color: black;
	font-size: 24px;
	padding: 5px 10px;
	margin-right: 10px;
}
.buttonSearch {
	min-height: 20px;
	min-width: 100px;
	padding: 5px 20px;
	color: rgb(255, 255, 255);
	background-color: rgb(66, 0, 121);
	border: 1px solid rgb(28, 0, 44);
	font-size: 16px;
	border-radius: 10px;
	transition: all 0.3s ease 0s;
    display: inline-block;
}
.buttonSearch:hover{
	background-color: rgb(118, 6, 209);
}
.buttonSearch:disabled{
	background-color: rgb(187, 187, 187);
}