.paginnation{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 35px;
/* 	overflow: auto; */
	margin: 0px 0px 10px 0px;
}
.paginpage{
	cursor: pointer;
	font-size: 18px;
	color: white;
	margin: 0px 15px 0px 0px;
}
.active{
	color: orange;
	font-weight: 700;
}
.button img{
	position: absolute;width: 100%;height: 100%;top: 0;left: 0;
	object-fit: cover;
}
.button{
	width: 30px;
	height: 25px;
	position: relative;
}
.button.buttonLeft{
	transform: rotate(180deg);
	margin: 0px 15px 0px 0px;
}