
.posts {
	font-size: 32px;
}
.new {

}
.form{
	margin-top: 10px;
	max-width: 100%;
	margin-bottom: 50px;
}
.textarea{
	width: 100%;
	resize: none;
	min-height: 100px;
	padding: 5px 15px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	font-size: 16px;
	color: black;
	border-radius: 5px;
	border: none;
}
.btn{
	min-width: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	font-size: 24px;
	color: white;
	background-color: rgb(136, 241, 255);
	border: none;
	border-radius: 5px;
	text-align: right;
	margin-left: auto;
	cursor: pointer;
}
