.menu {
	margin: 0px 0px 50px 0px;
}
.list {
	padding: 0px 0px 0px 0px;
}
.li {
	list-style-type: none;

}
.li a{
	font-size: 24px;
	line-height: 1.5;
	color: white;
	text-transform: uppercase;
	margin: 0px 0px 10px 0px;
	text-decoration: none;
}
.li a:hover{
	text-decoration: underline;
}
.li a.active{
	color: gold;
}
.findusers{
    margin-top: 40px;
}