.body{

}
.title{
	font-size: 24px;
    line-height: 1.5;
    color: white;
    margin: 0px 0px 5px 0px;
}
.list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 10px;
}