.controls.error input,
.controls.error textarea{
	border: 2px solid red;
}
.errMessage{
	font-size: 16px;
	padding: 5px 10px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.479);
	border-radius: 5px;
}
.error{

}
.controls.error .errMessage{
	color: red;
}