.header {
	grid-area: header;
	padding: 5px 20px;
	background: linear-gradient(to bottom left, #2F368E, #0355cf);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header img{
	max-height: 100%;
	border-radius: 30%;
}
.loginBlock a{
	color: white;
}
.authLine{
	display: flex;
	align-items: center;
}
.login{
	color: white;
	cursor: pointer;
}
.login:hover{
	text-decoration: underline;
}
.logout{
	color: white;
	margin: 0px 20px 0px 0px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: rgb(34, 16, 100);
	padding: 3px 15px;
}