.info {
	flex: 1 1 auto;
}
.line {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 150px 1fr;
}
.param {
	display: inline-flex;
	align-items: flex-end;
	font-size: 20px;
	line-height: 1.4;
	color: black;
}
.answer {
	display: inline-flex;
	align-items: flex-end;
	font-size: 23px;
	line-height: 1.4;
	color: black;
	padding: 0px 0px 0px 10px;
}