.avatar {
	flex: 0 0 80px;
	height: 80px;
	position: relative;
	min-height: 80px;
	margin: 0px 20px 0px 0px;
	cursor: pointer;
}
.avatar img{
	position: absolute;width: 100%;height: 100%;top: 0;left: 0;
	object-fit: cover;
	border-radius: 50%;
}