.app-wrapper{
	max-width: 1440px;
	margin: 0 auto;

	display: grid;
	grid-template-areas: "header header"
						"menu main";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 0.2fr 1fr;
	gap: 10px;
	min-height: 100vh;
}

