/*  null style  */
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 16px;
}
html,
body {
	height: 100%;
	min-width: 320px;
}
body {
	line-height: 1;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: sans-serif;
	font-size: inherit;
}
input:active, :hover, :focus,
button:active, :hover, :focus,
textarea:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
	background-color: inherit;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
/*  */
.app-wrapper{
	max-width: 1440px;
	margin: 0 auto;

	display: grid;
	grid-template-areas: "header header"
						"asside main";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 0.25fr 1fr;
	gap: 10px;
	min-height: 100vh;
}
.main {
	grid-area: main;
	position: relative;
}
