.dialogs{
	display: grid;
	grid-template-columns: 2fr 4fr;
	column-gap: 30px;
	background-color: rgba(16, 58, 80, 0.6);
	min-height: 100%;
    padding: 20px 10px;
	padding-right: 20px;
	position: relative;
}
.dialogs::after {
	content: "";
	background: url("https://games.mail.ru/pic/pc/gallery/91/36/ce0f987a.jpeg");
	opacity: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;  
  }
.dialogsList{}

/*TODO Общая Оболочка элемента что бы добавить к ком.Dialod ссылку для перехода */
.dialogsItem{
position: relative;
}
.link{
	position: absolute;width: 100%;height: 100%;top: 0;left: 0;
}

.messages{

}
.message {
	max-width: 90%;
	background-color: rgb(136, 241, 255);
    border-radius: 5px;
    margin: 0px 0px 10px 0px;
    font-size: 16px;
	padding: 10px 15px;
}
.message_right{
	margin-left: auto;
}