.dialogs{
	display: grid;
	grid-template-columns: 2fr 4fr;
	column-gap: 10px;
	background-color: rgba(16, 58, 80, 0.6);
	min-height: 100%;
    padding: 20px 10px;
	position: relative;
}
.link{
	display: block;
}
.dialogs::after {
	content: "";
	background: url("https://games.mail.ru/pic/pc/gallery/91/36/ce0f987a.jpeg");
	opacity: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;  
  }
.dialogList{}

.messages{}
.message {
	background-color: rgb(136, 241, 255);
    border-radius: 5px;
    margin: 0px 0px 30px 0px;
    font-size: 16px;
	padding: 10px 15px;
}